* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

html {
    padding: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: #fff;
}

.alert {
    display: none;
    text-align: center;
    width: 50vw;
}

#location-input {
    width: 20em;
}

.form-group label {
    font-size: 2em;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icon {
    padding: 20px;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 2em;
}

sup {
    font-size: 30px;
    margin-right: -10px;
}

.degree-section h2 {
    font-size: 3em;
}

.temperature-description {
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .form-group label {
        font-size: 1.5em;
    }
    .form-group {
        margin: 0 auto;
    }
    #location-input {
        width: 15em;
        margin: 0 auto;
    }
    .location-timezone {
        font-size: 1.3em;
    }
    .submitbtn {
        margin: 0 auto;
        margin-top: 43px;
    }
}